li {
    margin-bottom: 15px;
    text-align: justify;
    font-family:sans-serif;
}
p {
    text-align:justify;
    font-family:sans-serif;
}
h1 {
    text-align:center;
    font-size:50px;
    margin-bottom:auto;
    font-family:sans-serif;
}
body {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0)
    font-family:sans-serif;
}
a {
	color:#7FFFD4;
    }

.goals {
   display: grid;
	padding: 3em;
    grid-gap: 2em; 
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}

.goal {
    padding: 2em;
    border-radius: .3em;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
    text-align: justify;
}

div {
	text-align: justify;
}

    
    
    
    
    
    
    
    
    
    
    
    
    